{
  "printWidth": 110,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
